@page "/products"
@inject IProductsCatalog ProductsCatalog

<h3>Список товаров</h3>

<table class="table">
    <thead>
        <tr>
            <th>Наименование товара</th>
            <th>Цена</th>
            <th>Фото</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in _products)
        {
            <tr>
                <td>@cat.Name</td>
                <td>@cat.Price</td>
                <td><img src=@cat.ImageUrl alt="Изображение товара" width="100px" height="100px"></td>
            </tr>
        }
    </tbody>
</table>


@code {
    private IReadOnlyList<Product> _products;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _products = ProductsCatalog.GetProducts();
    }
}
